<app-header titulo="card"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin-outline" slot="start"></ion-icon>
      <ion-label color="primary" > Marcador </ion-label>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-img src="https://instagram.flim20-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/93989632_2625356077791849_4559966150585209286_n.jpg?_nc_ht=instagram.flim20-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=bpL8uhvxgU8AX_KvUBm&tp=1&oh=de5a7b61a91abc9488e9adbc9eeffa33&oe=60055D35"></ion-img>
    
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque laudantium nihil minus sed itaque sint. Mollitia facilis, iure doloremque aut debitis at, vel in consequuntur quod nesciunt quam voluptatum cupiditate.
    </ion-card-content>
  </ion-card>

</ion-content>
